body {
  background-color: rgba(5, 5, 5, 0.9);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
}

.Status {
  position: absolute;
  top: 20px;
  left: 20px;
}

#status {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #d3d3d3;
}

#divider {
  background-color: #2e2e2e;
  width: 100%;
  height: 75%;
  position: absolute;
  z-index: -1;
}

header {
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
  padding: 0;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  font-size: 200px;
  text-align: center;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  background: linear-gradient(
    45deg,
    #a781ff,
    #ff8f6d,
    #a781ff,
    #ff8f6d,
    #a781ff
  );
  background-size: 400% 400%;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  animation: gradient-animation 5s ease infinite;
  user-select: none;
  -webkit-user-select: none;
  font-family: "Dancing Script", cursive;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 0 20px;
}

#navigation h3 {
  font-weight: 300;
  font-size: 24px;
  margin: 0;
  padding: 10px;
  padding-top: 5px;
  background-color: #2e2e2e;
  border-radius: 6px;
  color: #e0e0e0;
  user-select: none;
}

h2 {
  font-size: 40px;
  margin: 10px 0;
}

p {
  font-weight: 300;
  font-size: 18px;
  padding: 15px;
  border-radius: 6px;
  max-width: 600px;
  text-align: center;
}

#header_p {
  width: 400px;
}

a {
  font-size: 15px;
  color: #b0b0b0;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #ffffff;
  text-shadow: none;
}
