body {
  background-color: rgba(5, 5, 5, 0.81);
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

#vingette {
  padding: 0;
  margin: 0;
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 50px 0 200px rgba(0, 0, 0, 0.3),
    inset -50px 0 200px rgba(0, 0, 0, 0.3),
    inset 0 50px 200px rgba(0, 0, 0, 0.3),
    inset 0 -50px 200px rgba(0, 0, 0, 0.3);
}

.Status {
  position: absolute;
  top: 0;
  left: 20px;
}

#status {
  font-size: 20px;
}

header {
  height: 200px;
  display: grid;
  grid-template-rows: auto auto;
  gap: 2px;
  padding: 0;
  width: 300px;
}

nav {
  height: 50px;
}

h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 600;
  font-size: 100px;
  text-align: center;
  border-radius: 5px;
  padding: 5px 1%;
  width: auto;
  display: inline-block; /* Ensures the background size is applied correctly */
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(45deg, #ffffff, #bfbfbf, #414141, #c0c0c0, #ffffff); /* Gradient colors */
  background-size: 400% 400%; /* Increase the size of the gradient */
  background-clip: text;
  color: transparent; /* Make the text transparent to show the gradient */
  -webkit-background-clip: text; /* For Safari */
  animation: gradient-animation 1s ease-in forwards; /* Play once */
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

#navigation h3 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 200;
  font-size: 40px;
  margin-top: 0;
  padding: 0;
  text-align: center;
}

h2 {
  font-size: 50px;
}

p {
  font-weight: 100;
  font-size: 20px;
  padding: 2%;
  border: 2px solid #b5b5b5;
  border-radius: 5px;
}

span {
  text-decoration: underline;
  font-size: 30px;
}

.second-span {
  font-weight: 400;
  font-size: 25px;
  text-decoration: none;
}

a {
  padding: 0;
  margin: 0;
  font-size: 11px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
}

a:hover {
  color: rgb(227, 227, 227);
}

img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.placeholder {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

article {
  margin: 50px;
}

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

#bio {
  font-size: 27px;
}

#clip {
  position: absolute;
  bottom: 0;
  left: 5px;
  margin: 5px;
}
