body {
  background-color: #0d0d0d;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

body:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
}

#divider {
  background-color: #171717;
  width: 100%;
  height: 80%;
  z-index: -1;
}

#divider2 {
  background-color: #2d2d2d;
  width: 100%;
  height: 20%;
  z-index: -1;
}

.about {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #85bbe8c4;
  margin-bottom: 50px;
  color: black;
}

#pfp {
  left: 25vh;
  position: absolute;
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.about h2 {
  margin-top: 20px;
  padding: 5px;
  text-align: center;
  font-size: 30px;
}

.about p {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

header {
  top: 10px;
  position: relative;
  width: 95%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 4rem 0;
  z-index: 2;
  gap: 50px;
  flex-direction: row;
}

@font-face {
  font-family: "Get Schwifty";
  src: url("../fonts//get_schwifty.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 200px;
  text-align: center;
  margin: 10px;
  color: #85bbe8;
  font-family: "Get Schwifty", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.15em;
  position: relative;
  text-shadow: 4px 4px 20px black;
  transform: scaleX(1.3);
}

.active-page {
  background-color: #85bbe8 !important;
  color: black !important;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

#navigation {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 40px;
  padding: 5px;
  border-radius: 15px;
  background-color: rgb(20, 20, 20);
  justify-content: center;
}

#inviteBtn {
  color: black;
  font-weight: 500;
}

#inviteH3 {
  background-color: #85bbe8;
}

#inviteH3:hover {
  background-color: #6d9abe;
}

#navigation h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 10px;
  margin: 0;
  padding: 0;
  padding: 10px;
  border-radius: 6px;
  color: #ffffff;
  user-select: none;
}

h2 {
  font-size: 40px;
  margin: 10px 0;
}

p {
  font-weight: 300;
  font-size: 18px;
  padding: 15px;
  border-radius: 6px;
  max-width: 600px;
  text-align: center;
}

article {
  position: relative;
  padding: 2rem 2rem 3rem 2rem;
  border-radius: 1rem;
  max-width: 100%;
  width: 140vh;
  display: flex;
  flex-direction: column;
  height: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

#commandHeader {
  color: #ffffff;
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 20px;
  font-weight: 400;
  letter-spacing: -1px;
}

button {
  font-family: inherit;
  font-size: 13px;
  background-color: #353535;
  border: none;
  cursor: pointer;
  text-align: center;
}

li {
  margin: 10px;
  font-size: 14px;
}

a {
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #b3dafa;
}

footer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  bottom: 15px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 100px;
  }

  #pfp {
    opacity: calc(0);
    z-index: -10;
  }

  #navigation {
    align-items: center;
    gap: 10px;
  }

  .about h2 {
    font-size: 24px;
  }

  .about p,
  p {
    font-size: 14px;
    padding: 10px;
  }

  #commandHeader {
    padding: 5px;
    font-size: 25px;
  }

  button {
    font-size: 11px;
    min-width: unset;
    width: auto;
    white-space: nowrap;
    width: 100px;
    max-width: 120px;
  }

  article {
    padding: 1rem;
    margin: 1rem;
  }

  footer {
    flex-direction: column;
    height: auto;
    gap: 10px;
    padding: 1rem;
  }
}

#pageContent {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
}

.command-card {
  background-color: #151515;
  border-radius: 30px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: default;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  border: 1px solid rgba(78, 78, 78, 0.349);
}

#line {
  height: 1px;
  background-color: rgba(78, 78, 78, 0.349);
  margin-top: 20px;
}

.command-card h4 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;
  padding: 5px;
}

.command-card p {
  text-align: left;
  font-size: 0.7rem;
  line-height: 1.2;
  margin-top: 2px;
  padding: 5px;
}

@media (max-width: 1000px) {
  #pageContent {
    grid-template-columns: repeat(2, minmax(280px, 1fr));
  }
}

@media (max-width: 600px) {
  #pageContent {
    grid-template-columns: 1fr;
  }
}

#categoryNav {
  margin-top: 10px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #85bbe8 transparent;
  margin-bottom: 1rem;
  -webkit-overflow-scrolling: touch;
  background-color: rgb(20, 20, 20);
  overflow-y: hidden;
  border-radius: 20px;
  height: 55px;
  width: 100%;
  align-items: center;
  justify-content: start;
  border: 1px solid rgba(78, 78, 78, 0.349);
}

#categoryNav button {
  background: transparent;
  height: 100%;
  color: grey;
  cursor: pointer;
  font-size: 15px;
  border: none;
  user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: grid;
  place-items: center;
  justify-content: center;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#categoryNav::-webkit-scrollbar {
  opacity: 0;
  z-index: -10;
}

#categoryNav button:hover {
  color: rgb(182, 182, 182);
  /* background-color: rgb(25, 25, 25); */
  transition: color 0.5s ease;
}

#categoryNav button.active-category {
  color: white;
  /* background-color: rgb(30, 30, 30); */
}
